@model AireSpringWeb.Models.EmployeeCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Create a new Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeLastName" class="control-label">Last Name</label>
                <input asp-for="EmployeeLastName" class="form-control" />
                <span asp-validation-for="EmployeeLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeFirstName" class="control-label">First Name</label>
                <input asp-for="EmployeeFirstName" class="form-control" />
                <span asp-validation-for="EmployeeFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeePhone" class="control-label">Phone</label>
                <input asp-for="EmployeePhone" class="form-control" />
                <span asp-validation-for="EmployeePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeZip" class="control-label">Zip</label>
                <input asp-for="EmployeeZip" class="form-control" />
                <span asp-validation-for="EmployeeZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HireDate" class="control-label">Hire Date</label>
                <input asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 d-grid gap-2">
                <input type="submit" value="Create" class="btn btn-primary " />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
